.navbar-container {
    width: 100%;
    height: 120px;
    background-color: var(--navy);
    color: white;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 100%;
    height: 100%;
}

.histogram {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0 0 0 10px;
}

.rate {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    border: 1px solid white;
    width: 40px;
}

.rating {
    font-size: 15px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0000006f;
}

.app-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 100%;
    gap: 20px;
}

.app-name{ 
    font-weight: 700;
}

.app-ratings {
    font-size: 16px;
    opacity: 0.8;
}

.rating-container {
    display: flex;
    flex-direction: column;
    opacity: 0.8;
}

.ratings {
    width: max-content;
}

.outer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
    border-top: 2px solid #ffffffab;
}

.select, .rate-button {
    padding: 10px;
    border-radius: 2px;
    outline: none;
    border: none;
    background-color: var(--light-blue);
}

.rate-button {
    width: 40px;
    cursor: pointer;
    /* background-color: white; */
    color: #464646;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.rating-filter {
    display: flex;
    gap: 5px;
}

.check-box {
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 10px;
    background-color: #ffffff88;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 2px grey;
    text-shadow: 1px 1px 2px grey;
    border-radius: 3px;
}