.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.value {
    margin-right: 20px;
}

.no-vis {
    opacity: 0.5;
}

@media (max-width: 500px) {    
    .value {
        margin-right: 5px;
    }

    .container {
        font-size: 12px;
    }
}