.main-page-container {
    display: flex;
}

.side {
    position: fixed;
    left: 0;
    top: 0;
}

.page {
    position: fixed;
    left: 300px;
    top: 0;
    width: calc(100% - 300px)
}

.open-side {
    left: 300px;
    width: calc(100% - 300px);
    transition-duration: var(--animation-time);
}

.close-side {
    left: 50px;
    width: calc(100% - 50px);
    transition-duration: var(--animation-time);
}
