.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    height: 100vh;
}

.app {
    display: flex;
    background-color: #f2f2f2;
    justify-content: space-between;
    cursor: pointer;
}

.title {
    /* padding: 20px 10px; */
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navy);
    color: white;
    font-size: 20px;
    border-right: 1px solid white;
}

.inner {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.active {
    background-color: var(--navy);
    color: white;
}