.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    height: 100vh;
    overflow-y: auto;
}

.app {
    display: flex;
    background-color: #f2f2f2;
    justify-content: space-between;
    cursor: pointer;
}

.title {
    /* padding: 20px 10px; */
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--navy);
    color: white;
    font-size: 20px;
    border-right: 1px solid white;
}

.inner {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.active {
    background-color: var(--navy);
    color: white;
}

.navbar-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    padding: 10px;
}

.icon-bar {
    height: 3px;
    background-color: white;
}

.close {
    width: 50px;
    height: 100vh;
    color: white;
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.close-side {
    animation: close var(--animation-time) ease-in;
    width: 0px;
    transition-duration: var(--animation-time);
}

.open-side {
    animation: open var(--animation-time) ease-in;
    width: 300px;
    transition-duration: var(--animation-time);
}

.mini-side-open {
    background-color: transparent;
    color: white;
    height: 50px;
    transition-duration: var(--animation-time);
    padding-top: 5px;
    font-weight: 900;
}

.mini-side-closed {
    background-color: var(--navy);
    color: white;
    height: 100vh;
    transition-duration: var(--animation-time);
    transition-delay: var(--animation-time);
    flex-direction: column;
    font-weight: 900;
}

.app-name {
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    writing-mode: vertical-rl;
    /* text-orientation: upright; */
    text-transform: uppercase;
    transform: rotate(180deg);
}

@keyframes open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes close {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}