.main-page-container {
    height: 100vh;
    width: 100%;
}

.header {
    position: sticky;
    width: 100%;
}

.cards-container {
    overflow-y: auto;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaeaea;
}

.sort-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--navy);
    align-items: center;
    padding: 0px 20px;
    color:white;
    height: 40px;
}

.sort-container>div:nth-child(1) {
    width: 20%;
}

.sort-container>div:nth-child(2) {
    width: 65%;
}

.sort-container>div:nth-child(3) {
    width: 15%;
}

.no-selected {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.filter-container {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    width: calc(100% - 5px);
    padding-bottom: 2px;
}

.filter-container-inner {
    display: flex;
    background-color: #cfcfcf;
    max-width: 1440px;
    width: calc(100% - 10px);
    padding: 5px;
}

.filter {
    padding: 0 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.filter:nth-child(1) {
    width: 20%;
}

.filter:nth-child(2) {
    width: 65%;
}

.filter:nth-child(3) {
    width: 15%;
}

.arrow {
    margin-left: 5px;
    margin-top: -2px;
}

.filter-search {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.search-div {
    width: 50%;
}

.search {
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 10px 2px;
    width: 100%;
}

.number {
    padding-right: 10px;
}