<div class="main-page-container">
    <div class="header">
        <app-navbar></app-navbar>
        <!-- <div class="sort-container">
            <div class="sort">Version</div>
            <div class="search">
                <input placeholder="Search by keyword" type="text" class="search" />
            </div>
            <div class="sort">Date</div>
        </div> -->
    </div>
    <div class="no-selected" *ngIf="noSelection">
        No app selected.<br>
        Please select an app to analyse reviews.    
    </div>
    <div class="cards-container" *ngIf="app.isAndroid">
        <app-android-card *ngFor="let review of reviews?.review?.data" [review]="review"></app-android-card>
    </div>
    <div class="cards-container" *ngIf="app.isIOS">
        <div *ngFor="let data of reviews.reviews">
            <app-ios-card *ngFor="let detail of data.entry" [detail]="detail"></app-ios-card>
        </div>
    </div>
</div>