.main-page-container {
    height: 100vh;
    width: 100%;
}

.header {
    position: sticky;
    width: 100%;
}

.cards-container {
    overflow-y: auto;
    height: calc(100vh - 120px);
}

.sort-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--navy);
    align-items: center;
    padding: 0px 20px;
    color:white;
    height: 40px;
}

.sort-container>div:nth-child(1) {
    width: 20%;
}

.sort-container>div:nth-child(2) {
    width: 65%;
}

.sort-container>div:nth-child(3) {
    width: 15%;
}

.no-selected {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}