<div class="main-page-container">
    <div class="header">
        <app-navbar [versions]="versions" [years]="years" (versionSelected)="versionSelect($event)" (yearSelected)="yearSelect($event)" (ratingSelected)="ratingSelect($event)"></app-navbar>
    </div>
    <div class="no-selected" *ngIf="noSelection">
        No app selected.<br>
        Please select an app to analyse reviews.
    </div>
    <div class="filter-container" id="filter">
        <div class="filter-container-inner">
            <div class="filter" (click)="sort('version')"><span>Version</span><span class="arrow"
                    *ngIf="versionSorted.sorted">{{versionSorted.type == 'A' ? '&#8595;': '&#8593;'}}</span></div>
            <div class="filter">
                <div class="filter-search" (click)="sort('rating')">
                    <div>
                        <span>Rating</span>
                        <span class="arrow" *ngIf="ratingSorted.sorted">{{ratingSorted.type == 'A' ? '&#8595;':
                            '&#8593;'}}</span>
                    </div>
                    <div class="number" *ngIf="searched">
                        <b>{{reviews.length}}</b> matching reviews
                    </div>
                </div>
                <div class="search-div">
                    <input type="text" class="search" placeholder="Search by keyword" (keyup)="searchAndFilter($event)">
                </div>
            </div>
            <div class="filter" (click)="sort('date')"><span>Date</span><span class="arrow"
                    *ngIf="dateSorted.sorted">{{dateSorted.type == 'A' ? '&#8595;': '&#8593;'}}</span></div>
        </div>
    </div>
    <div class="cards-container" *ngIf="app.isAndroid" [ngStyle]="{height: pageHeight}">
        <div>
            <app-android-card *ngFor="let review of reviews" [review]="review"></app-android-card>
        </div>
    </div>
    <div class="cards-container" *ngIf="app.isIOS" [ngStyle]="{height: pageHeight}">
        <div>
            <app-ios-card *ngFor="let detail of reviews" [detail]="detail"></app-ios-card>
        </div>
    </div>
</div>